* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Arial, sans-serif;
}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #fff;
    padding: 15px 0 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}
body {
    background-color: #f0f0f0;
}
.nav-list li a {
    color: #333;
    text-transform: uppercase;
    font-weight: bold;
    transition: color 0.3s;
}
.nav-list li a:hover, .deploy:hover button{
    color: #007bff;
}
.logo {
    width: 70px;
}
.deploy-left {
    display: none;
}
.deploy {
    cursor: pointer;
}
.deploy button{
    border: 0;
    background-color: transparent;
    transition: all .4s;
}

.deploy.rotate  button {
    transform: rotate(180deg);
}
.nav-operation {
    position: relative;
    z-index: 2;
}
.dropdown-list {
    display: flex;
    overflow: hidden;
    width: 150px;
    background-color: #fff;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    list-style-type: none;
    gap: 1rem;
    height: 0;
    position: absolute;
    right: -19px;
    top: 60px;
    transition: height .4s;
    box-shadow: 0 0 2px #000;
}
.dropdown li a {
    text-decoration: none;
}

.nav-toggle{
    display: none;
}
.nav-list {
    display: flex;
    gap: 2rem;
    list-style-type: none;
}
.nav-list  li  a {
    text-decoration: none;
    color: #000
}

footer {
    margin-top: 100px;
    background: #000;
    color: #fff;
    padding: 2rem 0;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-row {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}

.footer-links {
    flex: 1;
    margin: 1rem;
    min-width: 250px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-links h4 {
    margin-bottom: 1rem;
    font-size: 20px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links ul li {
    margin: 0.5rem 0;
}

.footer-links ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links ul li a:hover {
    color: #007bff;
}
.footer-links i {
    font-size: 20px;
}

.social-link {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.social-link a {
    color: #fff;
    transition: color 0.3s;
}

.social-link a:hover {
    color: #007bff;
}

.footer-img {
    margin-top: 1rem;
    text-align: center;
}

.footer-img img {
    width: 230px;
}

@media (max-width: 600px) {
    header {
        justify-content: space-between;
        padding: 15px 20px 10px;
    }
    .nav-operation {
        margin-left: 0;
    }
    .deploy-right{
        display: none;
    }
    .deploy-left{
        border: 0;
        background-color: transparent;
        cursor: pointer;
        color: #fff;
        display: inline;
        transition: all .2s;
    }

    .nav-toggle {
        display: block;
        border: 0;
        font-size: 1.2rem;
        background-color: transparent;
        cursor: pointer;
        color: #000;
        position: absolute;
        right: 20px;
        z-index: 2;
    }
    .nav-toggle.white {
        color: #fff;
    }
    .nav {
        opacity: 0;
        visibility: hidden;
        overflow: hidden;
        width: 0;
        display: flex;
        flex-direction: column;
        align-items: end;
        box-shadow: 0 0 0 100vmax rgb(0, 0, 0, 0.5);
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 1.6rem 1rem;
        transition: all .4s;
    }
    .nav.visible {
        visibility: visible;
        opacity: 1;
        height: 100vh;
        padding: 40px 20px;
        width: 310px;
    }
    .nav-list {
        margin-top: 60px;
        flex-direction: column;
        align-items: end;
        gap: 3.5rem;
    }
    .nav-list li a {
        color: #fff;
    }
    .dropdown-list{
        width: 105.36px;
        position: inherit;
        gap: 1rem;
        align-items: end;
        justify-content: center;
        text-align: end;
        right: 0;
        top: 0;
        height: 50px;
        padding: 0;
        background-color: transparent;
        box-shadow: none;
    }
}