body {
    background: url("../img/biblioteca-fondo.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.container {
    width: 90%;
    margin: 30px auto;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 10px #000;
}
.books-head.deploy button {
    transform: rotate(180deg);
}
.books-body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,  minmax(1fr, 700px));
    grid-gap: 20px;
    text-align: center;
    background-color: #ddd;
    height: 0;
    overflow: hidden;
}
.n-grid {
    position: relative;
}
.n-grid > img {
    width: 100px;
}
.section__head {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    cursor: pointer;
}
.section__head button {
    transition: transform .4s;
    cursor: pointer;
    background: none;
    color: #000;
    border: none;
    font-size: 15px;
}
.section__head.rotate > button {
    transform: rotate(180deg);
}
.section__body {
    height: 0;
    transition: height .3s;
    color: #000;
}
.book-info {
    background-color: #7e65d8;
    border: none;
    margin-bottom: 10px;
    color: #fff;
}
.book-info:hover {
    background: #fff;
    cursor: pointer;
    color: #000;
}
.description {
    height: 0;
    padding: 0 10px;
    transition: height .4s;
    background: #aed1ff;
    border-radius: 20px;
    z-index: 10;
    overflow: hidden;
}
.descargar {
    padding: 20px;
    background-color: #7e65d8;
}

@media (max-width:650px) {
    .books-body {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }
}