.titulo {
    color: #3b7ca1;
    font-weight: 800;
    font-size: 20px;
}
h1 {
    font-size: 25px;
}
.cuerpo {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.parte{
    padding: 0 60px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.sub-temas {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.p-txt {
    line-height: 1.5;
}
.introduccion {
    line-height: 2.5;
}
.img {
    margin: 20px auto;
}
.img img {
    width: 100%;
}
.form {
    text-align: center;
}
.container {
    padding-bottom: 50px;
}
.img__ {
    width: 400px;
}
@media only screen and (max-width: 700px) {
    .container {
        width: 90%;
    }
    .img__ {
        width: 100%;
    }
    .parte {
        padding: 0 20px;
    }
    .sub-tema {
        margin-top: 50px;
    }
}