.container {
    margin: 20px auto;
    width: 80%;
    min-width: 500px;
    padding: 40px;
}

.section__chapter {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.chapter {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.section__head {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    cursor: pointer;
}
.section__head button {
    transition: transform .4s;
    cursor: pointer;
    background: none;
    color: #000;
    border: none;
    font-size: 15px;
}
.section__head.rotate > button {
    transform: rotate(180deg);
}
.section__body {
    height: 0;
    transition: height .3s;
    color: #000;
}
.section__body button {
    border: none;
    background-color: #289fd6;
    border-radius: 20px;
    cursor: pointer;
    padding: 20px;
    transition: background .4s;
}
.section__body button:hover {
    background-color: #181c55;
}
.section__body button a{
    color: #000;
    font-size: 15px;
    transition: color .4s
}
.section__body button:hover > a {
    color: #fff;
}